#aboutBackground {
    padding: 120px 120px 120px 0;
    background: url("./../assets/greyShop3.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
    aspect-ratio: 1 / .25;
}

#aboutContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 120px 0 120px 0;
}

#aboutParagraphContainer {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -60px;
    background: linear-gradient(to right, var(--bg-second-color), var(--bg-first-color));
    box-shadow: -10px 0px 5px rgba(0, 0, 0, 0.5),
        -20px 0px 10px rgba(0, 0, 0, 0.5),
        -40px 0px 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
    will-change: transform;
}

#aboutParagraphContainer:hover {
    transform: translateX(30px);
    transition: transform 0.3s ease;
}

#aboutParagraph {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 80px 40px 140px;
    font-size: 1.2rem;
    margin: 0;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5),
        0 0 10px rgba(0, 0, 0, 0.5),
        0 0 20px rgba(0, 0, 0, 0.5);
    z-index: 1;
    cursor: default;
}

#aboutParagraph::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, white, var(--bg-first-color));
}

#aboutParagraph::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, white, var(--bg-first-color));
}

#aboutImgContainer {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

#aboutImg {
    width: calc(100% - 60px);
    aspect-ratio: 1 / 1;
    background: url("./../assets/adam.jpg") no-repeat center center;
    background-size: cover;
    background-position: center top;
    /* clip-path: circle(50%); */
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5),
        0px 0px 10px rgba(0, 0, 0, 0.5),
        0px 0px 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
    will-change: transform;
}

#aboutImg:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}