@keyframes moveImg {
    0% {
        transform: translatex(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes moveOnScreen {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes glideAcross {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(calc(-133%));
    }
}

@keyframes glideOn {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-400%);
    }
}

@keyframes glideReset {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-133%);
    }
}

#landingTitleContainer {
    position: relative;
    width: 100%;
    background: url("../assets/logos/black%20and%20white%20header%20image%20copy.png") no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    aspect-ratio: 1 / .32;
    background-position: center bottom;
}

#landingTitle {
    position: relative;
    color: var(--bg-first-color);
    font-family: "Lobster", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-shadow: 0 0 5px #000, 0 0 10px #000;
    font-size: 3em;
    font-weight: 300;
    margin: 0;
    left: 75%;
    transform: translate(-25%, 15%);
}

#landingRepairContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 4.5vw;
}

/* #landingRepairTitle {
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 1s ease, transform 1s ease;
} */

#landingRepairTitle.loaded {
    animation: fadeIn 1s ease forwards;
}

#landingRepairImageWrapper {
    width: 60%;
    padding: 0 20px;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .7), 0px 10px 10px rgba(0, 0, 0, .7);
    margin: 20px auto 4.5vw auto;
    /* background-color: var(--bg-second-color); */
    /* background: linear-gradient(to right, var(--bg-first-color), var(--bg-second-color) 30%, var(--bg-second-color) 70%, var(--bg-first-color)); */
    background: radial-gradient(at top right, var(--bg-first-color), var(--bg-second-color));
}

#landingRepairImageContainer {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    padding: 20px 0;
}

.lrImage {
    width: 25%;
    height: auto;
    aspect-ratio: 1 / 1;
    margin: 0 10px;
    border-radius: 20px;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 1));
    will-change: transform;
}

.lriOnScreen {
    display: block;
    transition: transform 0.3s ease-in-out;
}

.lriOnScreen:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.lriOffScreen {
    display: none;
}

.lrImg0 {
    background: url("../assets/chainSpray.jpg") no-repeat center center;
    background-size: cover;
}

.lrImg1 {
    background: url("../assets/bmx.png") no-repeat top left;
    background-size: 105.26% 105.26%;
}

.lrImg2 {
    background: url("../assets/sunsetRide.jpg") no-repeat center center;
    background-size: cover;
}

.lrImg3 {
    background: url("../assets/mountainBike.png") no-repeat top left;
    background-size: 105.26% 105.26%;
}

.lrImg4 {
    background: url("../assets/kids.png") no-repeat top left;
    background-size: 105.26% 105.26%;
}

.lrImg5 {
    background: url("../assets/tandem.png") no-repeat top left;
    background-size: 105.26% 105.26%;
}

.lrImg6 {
    background: url("../assets/sunsetSil.png") no-repeat top left;
    background-size: 105.26% 105.26%;
}

.lrImg7 {
    background: url("../assets/mountainBike2.png") no-repeat top left;
    background-size: 105.26% 105.26%;
}

.lrImage.activeM {
    animation: moveImg .5s ease forwards;
}

.upNext {
    display: block;
    position: absolute;
    right: -20px;
    width: calc(25% - 20px);
    transform: translateX(100%);
}

.activeM.upNext {
    display: block;
    position: absolute;
    width: calc(25% - 20px);
    right: -20px;
    animation: moveOnScreen .5s ease forwards;
}

#landingRepairSummary {
    text-align: center;
}

#landingMaintenanceContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-bottom: 4.5vw;
}

.landingWorkWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
}

.landingWorkContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1 / 0.75;
    padding: 40px;
    border-radius: 20px;
    margin: 20px 40px 4.5vw 40px;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, .7)) drop-shadow(0px 10px 10px rgba(0, 0, 0, .7));
    transition: transform 0.3s ease-in-out;
}

.landingWorkContainer:hover {
    transform: scale(1.05);
}



/* #landingInspectionsTitle {
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 1s ease, transform 1s ease;
} */

#landingInspectionsTitle.loaded {
    animation: fadeIn 1s ease forwards;
}


#landingInspectionsContainer {
    background: url("../assets/logos/adam%20shop.jpg") no-repeat center top;
    background-size: cover;
}

/* #landingPersonalizedTitle {
    opacity: 1;
    transform: translateY(0);
} */

#landingPersonalizedTitle.loaded {
    animation: fadeIn 1s ease forwards;
}

#landingPersonalizedContainer {
    background: url("../assets/trail.png") no-repeat top left;
    background-size: 110% 110%;
}

.landingWorkOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 20px;
}

.landingWorkSummary {
    text-align: center;
    z-index: 2;
    line-height: 2;
}

#landingApptContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 4.5vw;
}

#landingApptButton {
    background-color: transparent;
    color: black;
    font-size: 1.2em;
    font-weight: 900;
    padding: 20px 40px;
    border-radius: 100px;
    border: 2px solid black;
    cursor: pointer;
    margin-bottom: 4.5vw;
    box-shadow: none;
    transition: box-shadow .3s ease, background-color .5s ease, transform 0.5s ease, border 0.5s ease, color 0.5s ease;
}

#landingApptButton:hover {
    background-color: var(--bg-third-color);
    color: white;
    border: 2px solid white;
    /* transform: scale(1.05); */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
    /* outline: 2px solid black; */
    /* margin-bottom: 64px; */
}

#landingModalWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    visibility: hidden;
}

body:has(#landingModalWrapper.active) {
    overflow: hidden;
}

body:has(#landingModalWrapper.active)::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 200vh;
    overflow-y: scroll;
    /* pointer-events: none; */
}

#landingModalWrapper.active {
    visibility: visible;
}

#landingModalOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    top: 0;
    left: 0;
    z-index: 1;
}

#landingModalWrapper.active #landingModalContainer {
    animation: fadeIn 0.3s ease forwards;
}

#landingModalContainer {
    background-color: white;
    padding: 2px;
    border-radius: 20px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

#landingModal {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    border-radius: 20px;
    background-color: var(--bg-third-color);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    /* color: var(--bg-first-color); */
}

#landingModalCloseContainer {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

#landingModalTitle {
    color: var(--text-color);
    padding: 0;
    margin: 0;
}

#landingModalClose {
    position: absolute;
    top: 0;
    right: 0;
    background: radial-gradient(at bottom left, var(--bg-third-color), var(--bg-third-color) 50%);
    color: rgb(255, 64, 64);
    border-radius: 5px;
    border: 1px solid white;
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: bolder;
    box-shadow: none;
    /* transition: background-color .5s ease, color .5s ease; */
}

#landingModalClose:hover {
    background: radial-gradient(at bottom left, white, rgb(255, 64, 64) 50%);
    /* transform: scale(1.05); */
    color: white;
    /* box-shadow: 0px 0px 10px rgba(255, 255, 255, .5); */
}

.landingModalLabel {
    color: var(--text-color);
    margin-bottom: 1px;
}

.landingModalInput {
    width: 240px;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid white;
}

#landingModalMessage {
    height: 5em;
    resize: none;
    overflow: auto;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#landingModalSubmit {
    background-color: var(--bg-third-color);
    color: var(--text-color);
    width: 120px;
    font-size: 1.2em;
    font-weight: 900;
    padding: 10px 20px;
    border-radius: 100px;
    border: 2px solid var(--text-color);
    cursor: pointer;
    margin-top: 20px;
    box-shadow: none;
    /* transition: box-shadow .3s ease, background-color .5s ease, transform 0.5s ease, border 0.5s ease, color 0.5s ease; */
}

#landingModalSubmit:hover {
    background-color: var(--text-color);
    color: white;
    border: 2px solid white;
}

#landingReviewsArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 4.5vw;
}

#landingReviewsWrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: stretch;
    /* Ensure child elements have no explicit height or set height to auto */
    width: 100%;
    overflow: hidden;
}

.landingReviewsContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 20px 0;
    margin: 0;
    flex: 1 0 auto;
}

#landingReviewsContainer1, #landingReviewsContainer3 {
    width: 100%;
}

#landingReviewsContainer2 {
    width: 33%;
}

#landingReviewsContainer1 {
    animation: glideAcross 32s linear infinite;
}

#landingReviewsContainer2 {
    animation: glideOn 32s linear infinite;
}

#landingReviewsContainer3 {
    animation: glideReset 32s linear infinite;
}

#landingReviewsOverlay {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, var(--bg-first-color) 5%, transparent 25%, transparent 75%, var(--bg-first-color) 95%);
    z-index: 3;
    pointer-events: none;
}

.landingReviewContainer {
    positioN: relative;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 0 20px;
    margin: 0 20px;
    border-radius: 4.5vw;
    aspect-ratio: 1 / .75;
    overflow: hidden;
    height: 100%;
    cursor: default;
    background: linear-gradient(135deg, var(--bg-second-color) 40%, var(--bg-first-color));
    border: 2px solid white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5), 0px 0px 10px rgba(0, 0, 0, .5);
    transition: transform 0.3s ease;
}

#landingReviewsContainer1 .landingReviewContainer, #landingReviewsContainer3 .landingReviewContainer {
    width: 33%;
}

#landingReviewsContainer2 .landingReviewContainer {
    width: 100%;
}

.landingReviewContainer:hover {
    transform: scale(1.05);
}

.landingReviewTitle {
    color: white;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center;
}

.ratingContainer {
    margin: 0;
    padding: 0;
    text-align: center;
}

.landingReviewSummary {
    margin-top: 5px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 9; /* Doesn't work without -webkit- prefix */
    -webkit-line-clamp: 9; /* Number of lines to show */
}

#landingReviewBtnContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.landingReviewBtn {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 1.2em;
    font-weight: 900;
    padding: 20px 40px;
    border-radius: 100px;
    border: 2px solid black;
    cursor: pointer;
    margin-bottom: 4.5vw;
    box-shadow: none;
    text-decoration: none;
    
    font-family: "Cactus Classical Serif", serif;
    transition: box-shadow .3s ease, background-color .5s ease, transform 0.5s ease, border 0.5s ease, color 0.5s ease;
}

.landingReviewBtn:hover {
    background-color: var(--bg-third-color);
    color: white;
    border: 2px solid white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}

.compLogo {
    width: 32px;
    height: 32px;
    aspect-ratio: 1 / 1;
}

@media (max-aspect-ratio: 1/1) {
    @keyframes glideAcross {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-200%);
        }
    }
    
    @keyframes glideOn {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-200%);
        }
    }
    
    @keyframes glideReset {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-200%);
        }
    }

    #landingTitleContainer {
        justify-content: flex-end;
        align-items: center;
    }

    #landingTitle {
        transform: translate(0, 0);
        left: 0;
        font-size: 2em;
    }

    #landingRepairImageWrapper {
        width: 100%;
        border-radius: 0;
        border: none;
        background: var(--bg-first-color);
        padding: 0;
        box-shadow: none;
    }

    #landingRepairSummary {
        color: black;
    }

    .lrImage {
        width: 40%;
        margin: 10px;
    }

    #landingMaintenanceContainer {
        flex-direction: column;
        align-items: center;
    }

    .landingMaintenanceTitle {
        text-align: center;
    }

    .landingWorkWrapper {
        width: 90%;
    }

    .landingWorkContainer {
        width: 100%;
        margin: 20px 0;
    }

    #landingApptButton {
        font-size: 1em;
        padding: 15px 30px;
    }

    #landingReviewsContainer2 {
        width: 100%;
    }

    #landingReviewsContainer1 {
        animation: glideAcross 16s linear infinite;
    }
    
    #landingReviewsContainer2 {
        animation: glideOn 16s linear infinite;
    }
    
    #landingReviewsContainer3 {
        animation: glideReset 16s linear infinite;
    }

    #landingReviewsContainer1 .landingReviewContainer, #landingReviewsContainer3 .landingReviewContainer {
        width: 100%;
    }

    .landingReviewContainer {
        width: 90%;
    }

    #landingReviewBtnContainer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}