@keyframes moveImg {
    0% {
        transform: translatex(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes moveOnScreen {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes glideAcross {
    0% {
        transform: translateX(-40px);
    }
    100% {
        transform: translateX(calc(-100% - 80px));
    }
}

@keyframes glideOn {
    0% {
        transform: translateX(calc(100% - 40px));
    }
    100% {
        transform: translateX(-80px);
    }
}

#landingTitleContainer {
    position: relative;
    width: 100%;
    background: url("../assets/logos/black%20and%20white%20header%20image%20copy.png") no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    aspect-ratio: 1 / .32;
    background-position: center bottom;
}

#landingTitle {
    position: relative;
    color: var(--bg-first-color);
    font-family: "Lobster", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-shadow: 0 0 5px #000, 0 0 10px #000;
    font-size: 3em;
    font-weight: 300;
    margin: 0;
    left: 75%;
    transform: translate(-25%, 15%);
}

#landingSummaryContainer {
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--bg-second-color);
    margin-bottom: 60px;
}


#landingSummary {
    width: 60%;
    font-weight: 1000;
    padding: 0 100px 0 40px;
    font-style: italic;
    font-size: 1.5em;
}

#landingSummaryContact {
    width: 40%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.landingSummaryInfo {
    padding: 0;
    margin: 3px 0;
    font-family: "Cactus Classical Serif", serif;
    color: white;
}

#landingComeVisit {
    padding: 0;
    font-weight: 900;
}

#landingSummaryPhone, #landingSummaryAddress {
    padding: 0;
    text-decoration: underline;
}

#landingRepairContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 60px;
}

/* #landingRepairTitle {
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 1s ease, transform 1s ease;
} */

#landingRepairTitle.loaded {
    animation: fadeIn 1s ease forwards;
}

#landingRepairImageWrapper {
    width: 60%;
    padding: 0 20px;
    border: 2px solid white;
    border-radius: 20px;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, .7)) drop-shadow(0px 10px 10px rgba(0, 0, 0, .7));
    margin: 20px auto 60px auto;
    /* background-color: var(--bg-second-color); */
    /* background: linear-gradient(to right, var(--bg-first-color), var(--bg-second-color) 30%, var(--bg-second-color) 70%, var(--bg-first-color)); */
    background: radial-gradient(at top right, var(--bg-first-color), var(--bg-second-color));
}

#landingRepairImageContainer {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    padding: 20px 0;
}

.lrImage {
    width: 25%;
    height: auto;
    aspect-ratio: 1 / 1;
    margin: 0 10px;
    border-radius: 20px;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 1));
    will-change: transform;
}

.lriOnScreen {
    display: block;
    transition: transform 0.3s ease-in-out;
}

.lriOnScreen:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.lriOffScreen {
    display: none;
}

.lrImg0 {
    background: url("../assets/chainSpray.jpg") no-repeat center center;
    background-size: cover;
}

.lrImg1 {
    background: url("../assets/bmx.png") no-repeat top left;
    background-size: 105.26% 105.26%;
}

.lrImg2 {
    background: url("../assets/sunsetRide.jpg") no-repeat center center;
    background-size: cover;
}

.lrImg3 {
    background: url("../assets/mountainBike.png") no-repeat top left;
    background-size: 105.26% 105.26%;
}

.lrImg4 {
    background: url("../assets/kids.png") no-repeat top left;
    background-size: 105.26% 105.26%;
}

.lrImg5 {
    background: url("../assets/tandem.png") no-repeat top left;
    background-size: 105.26% 105.26%;
}

.lrImg6 {
    background: url("../assets/sunsetSil.png") no-repeat top left;
    background-size: 105.26% 105.26%;
}

.lrImg7 {
    background: url("../assets/mountainBike2.png") no-repeat top left;
    background-size: 105.26% 105.26%;
}

.lrImage.activeM {
    animation: moveImg .5s ease forwards;
}

.upNext {
    display: block;
    position: absolute;
    right: -20px;
    width: calc(25% - 20px);
    transform: translateX(100%);
}

.activeM.upNext {
    display: block;
    position: absolute;
    width: calc(25% - 20px);
    right: -20px;
    animation: moveOnScreen .5s ease forwards;
}

#landingRepairSummary {
    text-align: center;
}

#landingMaintenanceContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-bottom: 60px;
}

.landingWorkWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
}

.landingWorkContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1 / 0.75;
    padding: 40px;
    border-radius: 20px;
    margin: 20px 40px 60px 40px;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, .7)) drop-shadow(0px 10px 10px rgba(0, 0, 0, .7));
    transition: transform 0.3s ease-in-out;
}

.landingWorkContainer:hover {
    transform: scale(1.05);
}

/* #landingInspectionsTitle {
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 1s ease, transform 1s ease;
} */

#landingInspectionsTitle.loaded {
    animation: fadeIn 1s ease forwards;
}


#landingInspectionsContainer {
    background: url("../assets/tech.png") no-repeat center center;
    background-size: cover;
}

/* #landingPersonalizedTitle {
    opacity: 1;
    transform: translateY(0);
} */

#landingPersonalizedTitle.loaded {
    animation: fadeIn 1s ease forwards;
}

#landingPersonalizedContainer {
    background: url("../assets/trail.png") no-repeat top left;
    background-size: 110% 110%;
}

.landingWorkOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 20px;
}

.landingWorkSummary {
    text-align: center;
    z-index: 2;
    line-height: 2;
}

#landingApptContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 60px;
}

#landingApptButton {
    background-color: transparent;
    color: black;
    font-size: 1.2em;
    font-weight: 900;
    padding: 20px 40px;
    border-radius: 100px;
    border: 2px solid black;
    cursor: pointer;
    margin-bottom: 60px;
    box-shadow: none;
    transition: box-shadow .3s ease, background-color .5s ease, transform 0.5s ease, border 0.5s ease, color 0.5s ease;
}

#landingApptButton:hover {
    background-color: var(--bg-third-color);
    color: white;
    border: 2px solid white;
    /* transform: scale(1.05); */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
    /* outline: 2px solid black; */
    /* margin-bottom: 64px; */
}

#landingModalWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    visibility: hidden;
}

body:has(#landingModalWrapper.active) {
    overflow: hidden;
}

body:has(#landingModalWrapper.active)::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 200vh;
    overflow-y: scroll;
    /* pointer-events: none; */
}

#landingModalWrapper.active {
    visibility: visible;
}

#landingModalOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    top: 0;
    left: 0;
    z-index: 1;
}

#landingModalWrapper.active #landingModalContainer {
    animation: fadeIn 0.3s ease forwards;
}

#landingModalContainer {
    background-color: white;
    padding: 2px;
    border-radius: 20px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

#landingModal {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    border-radius: 20px;
    background-color: var(--bg-third-color);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    /* color: var(--bg-first-color); */
}

#landingModalCloseContainer {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

#landingModalTitle {
    color: var(--text-color);
    padding: 0;
    margin: 0;
}

#landingModalClose {
    position: absolute;
    top: 0;
    right: 0;
    background: radial-gradient(at bottom left, var(--bg-third-color), var(--bg-third-color) 50%);
    color: rgb(255, 64, 64);
    border-radius: 5px;
    border: 1px solid white;
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: bolder;
    box-shadow: none;
    /* transition: background-color .5s ease, color .5s ease; */
}

#landingModalClose:hover {
    background: radial-gradient(at bottom left, white, rgb(255, 64, 64) 50%);
    /* transform: scale(1.05); */
    color: white;
    /* box-shadow: 0px 0px 10px rgba(255, 255, 255, .5); */
}

.landingModalLabel {
    color: var(--text-color);
    margin-bottom: 1px;
}

.landingModalInput {
    width: 240px;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid white;
}

#landingModalMessage {
    height: 5em;
    resize: none;
    overflow: auto;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#landingModalSubmit {
    background-color: var(--bg-third-color);
    color: var(--text-color);
    width: 120px;
    font-size: 1.2em;
    font-weight: 900;
    padding: 10px 20px;
    border-radius: 100px;
    border: 2px solid var(--text-color);
    cursor: pointer;
    margin-top: 20px;
    box-shadow: none;
    /* transition: box-shadow .3s ease, background-color .5s ease, transform 0.5s ease, border 0.5s ease, color 0.5s ease; */
}

#landingModalSubmit:hover {
    background-color: var(--text-color);
    color: white;
    border: 2px solid white;
    /* transform: scale(1.05); */
    /* box-shadow: 0px 0px 5px rgba(255, 255, 255, .5), 0px 0px 10px rgba(255, 255, 255, .5); */
}

#landingReviewsArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 60px;
}

#landingReviewsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#landingReviewsContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    padding: 20px 0;
    margin: 0 auto;
    overflow: hidden;
}

#landingReviewsOverlay {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, var(--bg-first-color) 5%, transparent 25%, transparent 75%, var(--bg-first-color) 95%);
    z-index: 3;
}

.landingReviewContainer {
    display: flex;
    flex-direction: column;
    justify-content: left;
    flex: 1;
    /* height: 100%; */
    width: 25%;
    padding: 20px;
    margin: 0 20px;
    border-radius: 20px;
    transform: translateX(100%);
    background: linear-gradient(25deg, var(--bg-second-color) 40%, var(--bg-first-color));
    /* background-color: var(--bg-second-color); */
    border: 2px solid white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5), 0px 0px 10px rgba(0, 0, 0, .5);
}

.landingReviewContainer.mainOnScreen {
    animation: glideAcross 8s linear infinite;   
}

.landingReviewContainer.lastOnScreen {
    position: absolute;
    right: -40px;
    width: calc( 25% - 40px);
    height: calc( 100% - 40px);
    transform: translateX(-80px);
    animation: glideOn 8s linear infinite;   
}

.landingReviewTitle {
    color: white;
}

/* .landingReviewContainer:nth-child(2) {
    transform: translateX(calc(-40px));
} */

/* .landingReviewContainer:nth-child(4) {
    transform: translateX(-129%);
    animation: glideAcross 8s linear infinite;
} */

#landingReviewBtnContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.landingReviewBtn {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 1.2em;
    font-weight: 900;
    padding: 20px 40px;
    border-radius: 100px;
    border: 2px solid black;
    cursor: pointer;
    margin-bottom: 60px;
    box-shadow: none;
    text-decoration: none;
    
    font-family: "Cactus Classical Serif", serif;
    transition: box-shadow .3s ease, background-color .5s ease, transform 0.5s ease, border 0.5s ease, color 0.5s ease;
}

.landingReviewBtn:hover {
    background-color: var(--bg-third-color);
    color: white;
    border: 2px solid white;
    /* transform: scale(1.05); */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
    /* margin-bottom: 64px; */
}

.compLogo {
    width: 32px;
    height: 32px;
    aspect-ratio: 1 / 1;
}