@keyframes slideFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

#projectsBackground {
    background: url("../assets/greyWork.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
    aspect-ratio: 1 / .25;
}

#projectsContainer {
    padding-top: 120px;
}

.projWrapper {
    width: 100%;
}

.projWrapper:nth-child(odd) {
    padding-right: 20%;
}

.projWrapper:nth-child(even) {
    padding-left: 20%;
}

.projContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width: calc(100% + 120px);
    margin: 120px 0;
    margin-left: -60px;
    margin-right: -60px;
    transition: transform 0.3s ease;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.projWrapper:nth-child(odd) .projContainer {
    transform: translateX(-100%);
    border-radius: 0 1000px 1000px 0;
    border-right: 2px solid white;
    background: linear-gradient(to bottom left, var(--bg-second-color), var(--bg-first-color));
    box-shadow: 20px 0px 20px rgba(0, 0, 0, 0.5),
        10px 0px 10px rgba(0, 0, 0, 0.1), 5px 0px 5px rgba(0, 0, 0, 0.1);
    /* filter: drop-shadow(10px 0px 5px rgba(0, 0, 0, 0.3))
        drop-shadow(20px 0px 10px rgba(0, 0, 0, 0.3))
        drop-shadow(40px 0px 20px rgba(0, 0, 0, 0.3)); */
}

.projWrapper:nth-child(odd) .projContainer:hover {
    transform: translateX(50px);
}

.projWrapper:nth-child(odd) .projContainer.animate {
    animation: slideFromLeft 1s ease forwards;
}

.projWrapper:nth-child(odd) .projContainer.onScreen {
    transform: translateX(0);
}

.projWrapper:nth-child(even) .projContainer {
    flex-direction: row-reverse;
    border-radius: 1000px 0 0 1000px;
    border-left: 2px solid white;
    transform: translateX(100%);
    background: linear-gradient(to bottom right, var(--bg-second-color),
        var(--bg-first-color));
    box-shadow: -20px 0px 20px rgba(0, 0, 0, 0.5),
        -10px 0px 10px rgba(0, 0, 0, 0.1), -5px 0px 5px rgba(0, 0, 0, 0.1);
    /* filter: drop-shadow(-10px 0px 5px rgba(0, 0, 0, 0.3))
        drop-shadow(-20px 0px 10px rgba(0, 0, 0, 0.3))
        drop-shadow(-40px 0px 20px rgba(0, 0, 0, 0.3)); */
}

.projWrapper:nth-child(even) .projContainer.animate {
    animation: slideFromRight 1s ease forwards;
}

.projWrapper:nth-child(even) .projContainer.onScreen {
    transform: translateX(0);
}

#projRepairContainer {
    margin-top: 0;
}

#projServiceContainer {
    margin-bottom: 0;
}

.projImageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.projTextContainer {
    min-height: 100%;
    width: 250%;
    flex: 1 1 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projWrapper:nth-child(odd) .projContainer .projTextContainer {
    padding-left: 15%;
    padding-right: 10%;
}

.projWrapper:nth-child(even) .projContainer .projTextContainer {
    padding-left: 10%;
    padding-right: 15%;
}

.projImage {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    box-shadow: -5px 0px 5px rgba(255, 255, 255, 0.1),
        -10px 0px 10px rgba(255, 255, 255, 0.1), -20px 0px 20px rgba(255, 255, 255, 0.5);
}

.projWrapper:nth-child(even) .projContainer .projImageContainer .projImage {
    box-shadow: 5px 0px 5px rgba(255, 255, 255, 0.1),
        10px 0px 10px rgba(255, 255, 255, 0.1), 20px 0px 20px rgba(255, 255, 255, 0.5);
} 

#projRepairImage {
    background: url("../assets/repair.jpg") no-repeat center center;
    background-size: cover;
}

#projMaintenanceImage {
    background: url("../assets/maintenance.jpg") no-repeat center center;
    background-size: cover;
}

#projServiceImage {
    background: url("../assets/service.jpg") no-repeat center center;
    background-size: cover;
}

#projScheduleImage {
    background: url("../assets/schedule.jpg") no-repeat center center;
    background-size: cover;
}

.projHeader {
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    
}

.projText {
    text-align: left;
    line-height: 1.6;
}