:root {
    --facebook-color: #1877F2;
    --instagram-color: #E4405F;

    --bg-first-color: #e2e2e2;
    --bg-second-color: #606060;
    --bg-third-color: #212529;

    --text-color: #f7c500;
}

* {
    box-sizing: border-box;
}

ul {
    padding-inline-start: 0;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: var(--bg-first-color);
    overflow-x: hidden;
}

a {
    margin: auto 10px;
    color: black;
}  

p {
    font-family: "Cactus Classical Serif", serif;
    color: white;
}

h2, h3, h4 {
    font-family: "Cal Sans", sans-serif;
    letter-spacing: 2px;
}

input[type="button"] {
    font-family: "PT Serif", serif;
    font-weight: 400;
}